


body {
    margin: 0px;
    padding: 0px;
   
    background: var(--fouth);
    /* change color of whole background */
    
    
    

}
:root{
    --prime: #172f5a;
    --second:#000000;
    --third:rgb(0, 0, 0);
    --fouth:#ffffff;
    --fifth: rgb(0, 0, 0);
    --six:rgb(0, 0, 0);
    --seven:rgb(0, 0, 0);
    --8:rgb(11, 11, 11);
    --1:rgb(0, 0, 0);
    --2:rgb(0, 0, 0);
    --3:rgb(0, 0, 0);
    --4:rgb(0, 0, 0);
    --5:#f2eaeab8;
    --6:rgb(114, 111, 111);
    --7:white;
    --8:transparent;
    --9:#000000;
}

.dark-theme{
    --prime: rgba(41, 40, 40, 0.919);
    --second:#ffffff;
    --third:rgb(255, 255, 255);
    --fouth:#000000;
    --fifth: rgba(255, 254, 254, 0.764);
    --six:rgba(171, 168, 168, 0.756);
    --seven:rgb(246, 10, 10);
    --8:rgb(11, 11, 11);
    --1:rgb(48, 47, 47);
    --2:rgba(239, 231, 13, 0.596);
    --3:rgb(255, 255, 255);
    --4:rgb(109, 108, 108);
    --5:#28272760;
    --6:rgba(255, 47, 0, 0.442);
    --7:transparent;
    --8:transparent;
    --9:#e60c0c;
}
.nav {
    
    position:fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    background-color:var(--prime);    /* navigation bar background color */
    color:var(--third);              /* nav bar orignal showcase color */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-size: 40px;
}

ul{
    font-size: 20px;
    display: flex;
    
}
a{
    color: var(--second);                /* nav bar contents color */
    text-decoration: none;
}

li {
   background-color:var(--7); /* nav bar contents background color */
    margin: 20px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    list-style: none;
}

#dark {                                      /* dark mode toggle image */
    width: 60px;
    height: 60px;
    margin: auto;
    cursor: pointer;
}

.intro {
    position: relative;
    z-index: 1;
    display: flex;
    padding-top: 130px;
    margin: auto;
    justify-content: space-around;
    padding-bottom: 100px;
}

#photo img {
    height: auto;
    width: 70vh;
    
    border-radius: 30%;
    border: 1px solid rgb(0, 0, 0);      /*border of photo */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}


.about {
    color: rgb(43, 14, 236);                           /*nothing */
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

.a1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--third);                         /*hi i am aditya  color*/
    font-size: 70px;
    font-weight: 500000;
}

.a2 {
    color: var(--fifth);                /*passionate color */
    font-size: 30px;
    font-style: oblique;
    
}

.a3 {
    margin-top: 20px;
    font-size: 20px;
    color: var(--six);           /*it engineer color */
    width: 100vh;
}

.a6 {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 20px;


}

.a6 button {
    color: var(--seven);                                 /* button  color*/
    position: relative;
    background-color: var(--8);                  /* button background color*/
    border-radius: 5px;
    margin: auto;
    width: 100px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
}
.a6 button::after{
    content: "";
    width: 0px;
    height: 40px;
    background-color: rgba(190, 175, 175, 0.216);   /* button background hover color*/
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 1s;
    z-index:0;
}
.a6 button:hover::after{
    width: 100%;
}

.a5 {
    margin-left: 20px;
}

.line{
    width: 35%;
    height: 2px;
    background-color:var(--1);    /* line color*/
    margin: auto;
    border-radius: 10px;
}
.s{  
    margin: auto;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    color: var(--third);                 /* skills project etc color*/
}
.box{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.con{
    width: 15%;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    perspective: 1000px;
    border-radius: 40px;
    background-color:transparent;        /* animated box background color*/       
}


.b11{
    text-align: center;
    border: 20px;
}
.b12{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: var(--3);                   /* skill name color*/
}

#a2{
    margin-top: 20px;
   
    width:100px ;
}


.con:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);  
}
.con::after{
    content: "";
    width: 0px;
    height: 2px;
    background: var(--2);                  /* box below line color*/
    position: absolute;
    left: 0;
    bottom: -20px;
    transition: 1s;
}
.con:hover::after{
    width: 100%;
}

.card{
    /* common on both */
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    border: 2px solid ;    
    border-color: var(--second);                /* animated box border color*/
    border-radius: 40px;
    box-shadow: 0 0 20px 4px rgba(66, 66, 1, 0.519);
}


.front
{
    height: 100%;
    width: 100%;
    border-radius: 40px;
    box-shadow: 0 0 20px 4px rgba(66, 66, 1, 0.519);            /* animated box shadow color*/
    position:absolute;
    backface-visibility: hidden;
}
.back1 {
    height: 100%;
    width: 100%;
    border-radius: 40px;
    box-shadow: 0 0 20px 4px rgba(66, 66, 1, 0.519);           /* animated box shadow color*/
    position:absolute;
    /* backface-visibility: hidden; */    
}
/* .front{
   
} */
.back1{
    background-color: transparent;     /* do not change*/
    transition: rotateY(180deg);
    display: flex;
    justify-content: center;
    position: absolute;
}
.line1 {
    width: 100%;
    height: 2px;
    background-color:var(--1);     /* footer line color*/


}


.footer-content {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);               /* footer info color*/
}

.contact-info {
    flex: 1;
}
.contact-info p{
    color:var(--six) ;
}

.copyright {
    flex: 1;
    text-align: right;
}
.copyright p{
    color:var(--six) ;
}

/* .goup button {
    border-radius: 5px;
    width: 100px;
    height: 50px;

} */

/* .goup button img {
    margin: auto;
    width: 100%;
    height: 100%;
} */

.navigation-links ul li img {
    height: 20px;
}

/* .bck{
    text-align: center;
    margin: 20px;
} */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* #t1 {
    opacity: 0; 
    transition: opacity 1s ease; 
  }
  
  #t1:hover {
    opacity: 1; 
  } */
  .c11{
    color: var(--seven);               /* project card header color*/
  }
  .p1{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 35vh;
    margin-right: 35vh;

  }
  .p2{
    text-align: center;
    font-size: 30px;
    width: 200px;
    height: 300px;
    padding: 30px;
   border-radius: 15px;
    border: 2px solid ;             /* project card border color*/
    border-color: var(--4);
    
    background-repeat: no-repeat;
  }
  
  #c1{
    background-color: var(--5);             /* project card 1 image ke back wala color*/
    /* background-image: url("images//test.avif"); */
  }
  #c2{
    /* background-image: url(images/pu.png); */
    /* background-size: cover; */
    background-color: var(--5); 
  }
  #c3{
    /* background-image: url(images/te.jpg); */
   
    background-size: cover;
    z-index: -1000;
    
    background-color: var(--5);        /* project card 1 image ke back wala color*/
  }
  .c12{                                        /* project card information color*/
    padding-top: 20px;
    font-size: 17px;
    color: var(--3);          /* project card info color*/
    
  }
  .c4 button img{
    width: 30px;
    height: 30px;
  }
  .c4{
    padding-top: 10px;
  }
  .c4 button{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: rgb(68, 61, 49);            /* project card link image background color*/

  }
.line2{
    width: 35%;
    height: 3px;
    background-color: var(--1) ;           /* project card below line color*/
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 10px;   
}
.s1{
    display: none;
}
.contact-section{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.upper-section{
    display: flex;
    justify-content:center;
    align-items: center;
}
.address form input,.address form textarea,.address form button{
    margin: 5px;
    border-radius: 5px;
    color: var(--3);               
    border-color: var(--6);               
    background-color: transparent;   
    resize: none;
    width: 30vh;
    height:4vh;
}
.address form textarea{
    height:30vh;
}
.address form button{
    width: 40% ;
    background-color: var(--8);     
    border-radius: 5px;
    margin: auto;
    width: 100px;
    height: 40px;
    font-size: 16px;                
    cursor: pointer;
    border-color: var(--9);         
    color: var(--seven);                     
}

.address form textarea{
    width: 98%;
    font-size: 14px; 
    color: var(--3);   
}


#msg{
    color: var(--3);           /* form messsage 5 sec color*/
    background-color: rgba(128, 128, 128, 0.215);       /* form messsage background 5 sec color*/
    border-radius: 20px;
}


html{
    scroll-behavior: smooth;
}


.navm{display: none;}
.menu1 img{display: none;}
.a7{
    display: none;
}
.mobile{
    display: none;
}
/* .orignal-showcase-nav h2{
    display: none;
} */
.mobile-navup-fixed{
    display: none;
}

.mobile-copyright{
    display: none;
}

@media only screen and (max-width: 600px){
    :root{
        --prime: #172f5a;
        --second:#000000;
        --third:rgb(0, 0, 0);
        --fouth:#ffffff;
        --fifth: rgb(0, 0, 0);
        --six:rgb(0, 0, 0);
        --seven:rgb(0, 0, 0);
        --8:rgb(11, 11, 11);
        --1:rgb(0, 0, 0);
        --2:rgb(0, 0, 0);
        --3:rgb(0, 0, 0);
        --4:rgb(0, 0, 0);
        --5:#a29e9eb8;
        --6:rgb(0, 0, 0);
        --7:white;
        --8:transparent;
        --9:#000000;  
        --10:#ffffff;
        --11:rgba(66, 66, 66, 0.879);


    }
    .dark-theme1{
        --prime: rgba(41, 40, 40, 0.919);
        --second:#ffffff;
        --third:rgb(255, 255, 255);
        --fouth:#000000;
        --fifth: rgba(255, 254, 254, 0.764);
        --six:rgba(171, 168, 168, 0.756);
        --seven:rgb(246, 10, 10);
        --8:rgb(11, 11, 11);
        --1:rgb(48, 47, 47);
        --2:rgba(239, 231, 13, 0.596);
        --3:rgba(206, 202, 202, 0.875);
        --4:rgb(109, 108, 108);
        --5:#d3cdcd60;
        --6:rgba(255, 47, 0, 0.442);
        --7:rgb(195, 193, 193);
        --8:transparent;
        --9:#e60c0c;
        --10:#c5c0c0eb;
        --11:rgb(157, 154, 154);
    }
    .mobile-navup-fixed{
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
        background: var(--prime);
        border-bottom-right-radius:5px;
        border-bottom-left-radius: 5px;
        width: 100%;
    }
    .menu1 img{
        display: block;
        z-index: 3;
        margin: 10px;
        height: 30px;
        background:rgb(0, 115, 255);
        border-radius: 3px;
    }
    .orignal-showcase-nav h2{
        margin: 10px;
        /* position: ; */
        z-index: 3;
        color:var(--10);
        font-size: 25px;
        margin-left: 4.5vh;
    }
    #dark1 img{
        height: 6vh;
        width: auto;
        z-index: 3;
        margin-left: 1vh;
        margin-top: 0.5vh;
    }
    .nav { 
        display: none;    
    }
    .navm {
        display:block;
        position:fixed;
        z-index: 3;
        width: 150px;
        top: 0;
        left: 0;
        height: 100vh;
        padding-top:0px;
        background-color:var(--prime);    /* navigation bar background color */
        color:transparent;
        transition: left 0.5s;              /* nav bar orignal showcase color */
    }
    
    .navm img{
        position: absolute;
        height:25px;
        margin: 8px;
        padding: 5px;
        right:0px;
        cursor: pointer;
    }
    .navm ul{
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    h2 {
        font-size:0px;
    }
    ul{
        font-size: 20px;
        display: none;  
    }
    a{
        color: var(--7);    
                    /* nav bar contents color */
        text-decoration: underline;
    }
     li {
        background-color:var(--8); /* nav bar contents background color */
         margin: 5px;
         padding: 5px;
         border-radius: 5px;
         cursor: pointer;
         list-style: none;
     }
     
 /* nav bar complited */

 /* #Introduction {
    margin-top: -50px; 
} */
 .intro{
    display: none;
    padding-top: 12vh;
    padding-bottom: 10vh;
 }

 .intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
 }
#photo img{
    height:30vh;
    width: auto;
}
.about{
    justify-content: center;
    text-align: center;
    width: 80%;
}
.a1{
    margin-top: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--third);                         /*hi i am aditya  color*/
    font-size: 36px;
    font-weight: 500000;
}
.a2 {
    color: var(--fifth);                /*passionate color */
    font-size: 20px;
    font-style: oblique;  
    margin-top: 10px;
}
.a3 {
    margin-top: 20px;
    font-size: 15px;
    color: var(--six);  
    text-align: left; 
    width: auto;        /*it engineer color */
}
.a6{
   display: none;
}
.a7{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.a7 button {
    color: var(--seven);                                 /* button  color*/
    position: relative;
    background-color: var(--8);                  /* button background color*/
    border-radius: 5px;
    margin: auto;
    width: 100px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
}
.a7 button::after{
    content: "";
    width: 0px;
    height: 40px;
    background-color: rgba(190, 175, 175, 0.216);   /* button background hover color*/
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 1s;
    z-index:0;
}
.a7 button:hover::after{
    width: 100%;
}



.s1{  
    margin: auto;
    font-size: 35px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 4vh;
    color: var(--third);                 /* skills project etc color*/
}
.box{
    display: none;
}

skills{
    display: none;
}
/* section{
    display: none;
} */
footer{
    display: none;
}
 
.mobile{
    display: block;
}   
.sk{display: block;}
.mobcon1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10vh; */
    /* margin-left: 2vh;
    margin-right: 2vh; */
}

.sk{
    width: 10vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fifth);
}


#skill-image1{
    width: 40px;
    height: 40px;
    
}
.skill-name{
    text-align: center;
}
.mobile-line{
    width: 35%;
    height: 2px;
    background-color:var(--1);    /* line color*/
    margin: auto;
    margin-top: 70px;
    margin-bottom: 4vh;
    border-radius: 10px;
}

.projects-made{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.projects-display{
    
    background-color: var(--5);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid ;
    border-radius: 3px;
}
.projects-heading{
    text-align: center;
    margin: 5px;
    color: var(--fifth);
}

.projects-content{
    margin: 5px;
    font-size: 10px;
    color: var(--11);
    
}


.s{
    display: none;
}
.s1{
    display: block;
}
.contact-section{
    padding-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20vh;
    margin-right: 20vh;
    
}

.address form{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    
    
}
.upper-section{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.address form input,.address form textarea,.address form button{
    margin: 3px;
    border-radius: 3px;
    color: var(--3);               
    border-color: var(--6);               
    background-color: transparent;   
    resize: none;
    width: 13vh;
    height: 2vh;
}
.address form textarea{
    height:15vh;
   
}
.address form button{
    width: 10vh ;
    background-color: var(--8);     
    border-radius: 5px;
    margin: auto;
    font-size: 15px;                
    cursor: pointer;
    border-color: var(--9);         
    color: var(--seven);  
    height: 3vh;                   
}

.address form textarea{
    width: 96%;
    font-size: 14px; 
    color: var(--3);    
}




.mobile-line-footer{
width: 100%;
    height: 2px;
    background-color:var(--1);    /* line color*/
    margin: auto;
    margin-top: 70px;
    margin-bottom: 4vh;
    border-radius: 10px;


}
.mobile-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.mobile-copyright{
    text-align:center;
    margin-top: 10px;
}


.mobile-contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-contact-info a{
    color: #000000;
    margin: 5px;
}
.mobie-social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-social-links a,img{
    height: 2vh;
    color: #000000;
    margin: 3px;
}
.mobile-footer-social{
    display: flex;
    justify-content: start;
    align-items: center;
}
.mobile-footer-social a{
color: var(--third);
text-decoration: none;
}

.up-button-footer img{
    height: 6vh;
    
}
.mobile-copyright{
    font-size: 15px;
    display: block;
}
.mobile-footer-social-second{
    font-size:10px ;
}

}




